@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');
::root{
    font-size: 62,5%;
}
body, html{
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
nav{
    display: inline-block !important;
    height: 96px !important; 
}
nav a:hover{
    background-color: transparent !important;
}