@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
*{
    user-select: none;
}
:root{
    font-size: 62,5%;
}
body, html{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100% !important;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}
nav{
    background: linear-gradient(180deg, #000000 41.88%, rgba(0, 0, 0, 0) 100%) !important;
    z-index: 1 !important;

}
li > a{
    font-weight: 300 ;
}
nav a:hover{
    background-color: transparent !important;
    font-weight: 400;
}
header{
    margin-top: -64px !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden;
    background-image: url("../img/header.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media screen and (max-width: 600px) {
    header{
        margin-top: -56px !important;
    }
}
article{
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    padding-top: 64px;
    padding-bottom: 64px;

}
.linhamotivos{
    height: 100%;
    background-color: aqua;
}
i:hover{
    cursor: pointer;
}
.motivos h2{
    margin-bottom: 5%;
}
.historia{
    text-align: justify !important;
}
.historia{
    padding-top: calc(64px + 64px);
    margin-top: -64px;
}
.cadastro{
    background-color: aqua;
    height: 100%;
    width: 100%;
}
.input-field input:focus + label {
    color: #000000 !important;
}
.input-field input:focus {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #000000 !important; 
}
.input-field textarea:focus + label {
    color: #000000 !important;
}
.input-field textarea:focus {
    border-bottom: 1px solid #000000 !important;
    box-shadow: 0 1px 0 0 #000000 !important; 
}