@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');
*{
    user-select: none;
}
:root{
    font-size: 62,5%;
}
body, html{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100% !important;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    box-sizing: border-box;
}